$main-font-first: "Montserrat", sans-serif;

$main-font-second: "Kaushan Script", sans-serif;

$main-font-third: "Roboto";

$main-color: white;

$color-second: #fce38a;

$color-third: rgb(51, 51, 51);

$color-fourth: rgb(153, 153, 153);

$color-shadow: #95e1d3;

$color-five: #f38181;

$color-bg-footer: #e5e5e5;

$color-link-bg: #f9c0c0;

$color-last: rgb(204, 204, 204);










